<div class="container" style="margin-top: 20px; margin-left: 1090px; width: 400px;">
    <!--Container 2-->
    <div class="row justify-content-start">
      <div class="col-md-12 rounded border" style="padding: 10px;">
        <span class="d-flex justify-content-between">
          <span class="d-flex">
            <img src="../assets/img/sun.png" alt="Description de la photo" width="120" height="70">
            <div class="d-flex flex-column" style="margin-top: 20px;">
              <span>Paris</span>
              <span>10:10</span>
            </div>
          </span>
          <p style="font-size:35px">30°</p>
        </span>
      </div>
    </div>
  </div>
  
  <div class="container" style="margin-top: 20px; margin-left: 1090px; width: 400px;">
      <!--Container 2-->
      <div class="row justify-content-start">
        <div class="col-md-12 rounded border" style="padding: 10px;">
          <span class="d-flex justify-content-between">
            <span class="d-flex">
              <img src="../assets/img/sun.png" alt="Description de la photo" width="120" height="70" >
              <div class="d-flex flex-column" style="margin-top: 20px;">
                <span>Paris</span>
                <span>10:10</span>
              </div>
            </span>
            <p style="font-size:35px">30°</p>
          </span>
        </div>
      </div>
  </div>
  
  <div class="container" style="margin-top: 20px; margin-left: 1090px; width: 400px;">
    <!--Container 2-->
    <div class="row justify-content-start">
      <div class="col-md-12 rounded border" style="padding: 10px;">
        <span class="d-flex justify-content-between">
          <span class="d-flex">
            <img src="../assets/img/sun.png" alt="Description de la photo" width="120" height="70" >
            <div class="d-flex flex-column" style="margin-top: 20px;">
              <span>Paris</span>
              <span>10:10</span>
            </div>
          </span>
          <p style="font-size:35px">30°</p>
        </span>
      </div>
    </div>
  </div>
  
  <div class="container" style="margin-top: 20px; margin-left: 1090px; width: 400px;">
    <!--Container 2-->
    <div class="row justify-content-start">
      <div class="col-md-12 rounded border" style="padding: 10px;">
        <span class="d-flex justify-content-between">
          <span class="d-flex">
            <img src="../assets/img/sun.png" alt="Description de la photo" width="120" height="70" >
            <div class="d-flex flex-column" style="margin-top: 20px;">
              <span>Paris</span>
              <span>10:10</span>
            </div>
          </span>
          <p style="font-size:35px">30°</p>
        </span>
      </div>
    </div>
  </div>