<div class="test">
  <!-- Menu vertical -->
  <div class="menu border">
    <a href="#" class="list-group-item list-group-item-action">Home</a>
    <div>
      <a href="/home" class="list-group-item list-group-item-action">Weather</a>
      <a href="/cities" class="list-group-item list-group-item-action">Cities</a>
      <a href="/maps" class="list-group-item list-group-item-action">Map</a>
      <a href="/settings" class="list-group-item list-group-item-action">Settings</a>
    </div>
  </div>

  <!-- Contenu principal -->
  <div class="main-content">
    <!-- Barre de recherche -->
    <div class="search-container">
      <div class="form mb-4">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" placeholder="Search for cities">
        <span class="left-pan"><i class="fa fa-microphone"></i></span>
      </div>
    </div>
    <!-- Section principale -->
    <router-outlet></router-outlet>
  </div>
</div>
