<div class="container-fluid" style="margin-top: 20px;">
  <!-- Conteneur principal -->
  <div class="main-container">
    <!-- Menu vertical -->
    <div class="menu rounded border" style="width: 100px; height: 690px; padding: 20px;">
      <a href="#" class="list-group-item list-group-item-action">Home</a>
      <div class="d-flex flex-column align-items-center mt-5 gap-3">
        <a href="#" class="list-group-item list-group-item-action">Weather</a>
        <a href="#" class="list-group-item list-group-item-action">Cities</a>
        <a href="#" class="list-group-item list-group-item-action">Map</a>
        <a href="#" class="list-group-item list-group-item-action">Settings</a>
      </div>
    </div>

    <!-- Barre de recherche -->
    <div class="search-container" style="margin-left: 125px; margin-right: 450px; margin-top: -685px">
      <div class="form mb-4">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" placeholder="Search for cities">
        <span class="left-pan"><i class="fa fa-microphone"></i></span>
      </div>    
    </div>

    <!-- Section principale -->
    <router-outlet></router-outlet>

  </div>
</div>