

/* Le conteneur principal occupe toute la hauteur */
.main-content {
  display: flex;
  flex-direction: row;

}
  
  /* Menu occupe tout l'espace disponible en hauteur */

.menu {
  width: 200px;
  padding: 20px;
  background-color: #202b3b;
  
}

.search-container {
  flex: 1; /* Prend tout l'espace restant */
  padding: 20px;
}

  