.container {
  background-color: #202b3b;
  border-radius: 10px;
}
.main-container {
  display: flex; /* Pour l'affichage horizontale (par défaut) - Pour placer "7DayForecast à droite*/
  border: solid;
  justify-content: space-between;
}

.sec-main-container {
  display: flex; /* Pour l'affichage horizontale (par défaut) */
  flex-direction: column;
  gap: 20px;
  margin-left: 120px;
  max-width: 65%;
  min-width: 768px; /* Fixe une largeur minimal quand on réduit la largeur */

}

.main-data {
  display: flex;
  justify-content: space-between;

}

/* @media (max-width: 768px) { On applique ceci jusqu'à  768px 
  .container {
    background-color: #1762d3;
  }
} */

.hourly-forecast-container {
  padding: 15px;
  background-color: #202b3b;
  border-radius: 10px;
}

.hourly-forecast-row {
  display: flex; /* Pour l'affichage horizontale (par défaut) */
  justify-content: space-around;
}

/* Élément individuel de prévision */
.hourly-forecast-item {
  text-align: center;
  max-width: 150px; /* Largeur maximale de chaque prévisions */
}

.air-conditions-container {
  padding: 20px;
  background-color: #202b3b;
  border-radius: 10px;

}

.air-conditions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.air-conditions-row {
  display: flex;
  justify-content: space-between; /* Distribution uniforme */
  align-items: center; /* Centrage vertical */
  flex-wrap: wrap; /* Adaptation pour petits écrans */
  max-width: 70%;
  padding: 20px;
}

.air-conditions-item {
  text-align: center;
  max-width: 150px; /* Largeur maximale */
}

/* Container général pour le 7-Day Forecast */
.forecast-container {
  background-color: #202b3b;
  border-radius: 10px;
  min-width: 350px;
}

