
      <!-- Bloc météo principal -->
      <div class="d-flex justify-content-between" style="margin-left: 120px; width: 950px;">
        <div class="d-flex flex-column justify-content-between p-3">
          <!--Alignement du justify-content vers le bas car on a mis "flex-column"-->
          <div class="d-flex flex-column">
            <h2>{{ weatherData?.name }}</h2>
            <span>Chance of rain: {{ weatherData?.weather[0]?.description }}</span>
          </div>
          <h1>{{ weatherData?.main?.temp | number:'1.0-0' }}°C</h1>
        </div>
        <div>
          <span>
            <img [src]="'http://openweathermap.org/img/wn/' + weatherData?.weather[0]?.icon + '@4x.png'" 
              [alt]="weatherData?.weather[0]?.description" 
              width="280" 
              height="200">
          </span>
        </div>
      </div>

      <!-- Prévisions horaires -->
      <div class="container" style="margin-top: 30px; margin-left: 120px; width: 945px;">
        <!--Container 1-->
        <div class="row justify-content-start">
          <div class="col-md-12">
            <div class="d-flex justify-content-around align-items-center p-4">
              <!-- Boucle sur les prévisions horaires -->
              <div class="text-center" *ngFor="let forecast of hourlyForecast">
                <span class="fw-bold">{{ forecast.dt_txt | date:'shortTime' }}</span><br> <!-- forecast.dt_txt : date/heure / date : pipe Angular pour afficher que les heures -->
                <img [src]="'http://openweathermap.org/img/wn/' + forecast.weather[0].icon + '@2x.png'" 
                  [alt]="forecast.weather[0].description"
                  width="100" 
                  height="55"><br> 
                  <h5>{{ forecast.main.temp | number:'1.0-0' }}°C</h5>
              </div>
              <!-- Prévision statique (1) -->
            </div>
          </div>
        </div>
      </div>

      <!-- Section AIR CONDITIONS -->
      <div class="container" style="margin-top: 20px; margin-left: 120px; width: 945px;">
        <!--Container 2-->
        <div class="row justify-content-start">
          <div class="col-md-12" style="padding: 20px;">
            <span class="d-flex justify-content-between">
              AIR CONDITIONS
              <button type="button" class="btn btn-primary">Primary</button>
            </span>
  
            <div class="d-flex justify-content-between align-items-center p-2">
              <!--point 1-->
              <div class="text-center">
                <span class="fw-bold">Real Feel</span><br>
                <span>15°C</span>
              </div>
              <div class="text-center ps-3">
                <span class="fw-bold">Wind</span><br>
                <span>18°C</span>
              </div>
              <div style="width: 80px;"></div>
              <!-- Ajuste le pourcentage selon l'espace à combler -->
            </div>
  
            <div class="d-flex justify-content-between align-items-center p-2">
              <!--point 2-->
              <div class="text-center">
                <span class="fw-bold">Chance of rain</span><br>
                <span>15°C</span>
              </div>
              <div class="text-center ps-3">
                <span class="fw-bold">UV Index</span><br>
                <span>18°C</span>
              </div>
              <div style="width: 80px;"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- 7-Day Forecast -->
      <div class="container" style="padding-bottom: 30px; width: 400px; height: 600px; margin-left: 1100px; margin-top: -600px">
        <!-- Container version verticale -->
        <div class="row justify-content-start">
          <div class="col py-4 px-4">
            <!-- px et py pour les padding -->
            7-DAY FORECAST
            
            <div class="d-flex flex-column">
              <!-- Conteneur avec des lignes séparées par des barres horizontales -->
              <div class="d-flex justify-content-between py-2">
                <span style="margin-top: 10px;">today</span>
                <span style="margin-right: 30px;">
                  <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55">
                  weather</span>
                <span style="margin-top: 10px;">feel</span>
              </div>
              <div class="d-flex justify-content-between border-top py-2">
                <span style="margin-top: 10px;">today</span>
                <span style="margin-right: 30px;">
                  <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55">
                  weather</span>
                <span style="margin-top: 10px;">feel</span>
              </div>
              <div class="d-flex justify-content-between border-top py-2">
                <span style="margin-top: 10px;">today</span>
                <span style="margin-right: 30px;">
                  <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55">
                  weather</span>
                <span style="margin-top: 10px;">feel</span>
              </div>
              <div class="d-flex justify-content-between border-top py-2">
                <span style="margin-top: 10px;">today</span>
                <span style="margin-right: 30px;">
                  <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55">
                  weather</span>
                <span style="margin-top: 10px;">feel</span>
              </div>
              <div class="d-flex justify-content-between border-top py-2">
                <span style="margin-top: 10px;">today</span>
                <span style="margin-right: 30px;">
                  <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55">
                  weather</span>
                <span style="margin-top: 10px;">feel</span>
              </div>
              <div class="d-flex justify-content-between border-top py-2">
                <span style="margin-top: 10px;">today</span>
                <span style="margin-right: 30px;">
                  <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55">
                  weather</span>
                <span style="margin-top: 10px;">feel</span>
              </div>
              <div class="d-flex justify-content-between border-top py-2">
                <span style="margin-top: 10px;">today</span>
                <span style="margin-right: 30px;">
                  <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55">
                  weather</span>
                <span style="margin-top: 10px;">feel</span>
              </div>

            </div>


          </div>
        </div>
      </div>

      
      <!-- (1) <div class="text-center">
                <span class="fw-bold">6:00 AM</span><br>
                <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55"><br>
                <span>15°C</span>
              </div>
              <div class="text-center border-start ps-4">
                <span class="fw-bold">9:00 AM</span><br>
                <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55"><br>
                <span>18°C</span>
              </div>
              <div class="text-center border-start ps-4">
                <span class="fw-bold">12:00 PM</span><br>
                <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55"><br>
                <span>18°C</span>
              </div>
              <div class="text-center border-start ps-4">
                <span class="fw-bold">3:00 PM</span><br>
                <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55"><br>
                <span>18°C</span>
              </div>
              <div class="text-center border-start ps-4">
                <span class="fw-bold">6:00 PM</span><br>
                <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55"><br>
                <span>18°C</span>
              </div>
              <div class="text-center border-start ps-4">
                <span class="fw-bold">9:00 PM</span><br>
                <img src="../assets/img/sun.png" alt="Description de la photo" width="100" height="55"><br>
                <span>18°C</span>
              </div> -->

