<div class="container rounded border p-3" style="padding-bottom: 30px; margin-left: 120px; width: 945px; height: 420px;">
    <!-- Container version verticale -->
    <div style="margin-bottom: 20px;">
        TEMPERATURE
        <div class="box d-flex flex-row justify-content-between p-1">
            <button style="width: 50%; border: none; border-radius: 10px;">Celsius</button>
            <button style="width: 50%; border: none; border-radius: 10px;">Fahrenheit</button>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        WIND SPEED
        <div class="box d-flex flex-row justify-content-between p-1">
            <button style="width: 33%; border: none; border-radius: 10px;">Celsius</button>
            <button style="width: 33%; border: none; border-radius: 10px;">Fahrenheit</button>
            <button style="width: 33%; border: none; border-radius: 10px;">Fahrenheit</button>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        PRESSURE
        <div class="box d-flex flex-row justify-content-between p-1">
            <button style="width: 25%; border: none; border-radius: 10px;">Celsius</button>
            <button style="width: 25%; border: none; border-radius: 10px;">Fahrenheit</button>
            <button style="width: 25%; border: none; border-radius: 10px;">Celsius</button>
            <button style="width: 25%; border: none; border-radius: 10px;">Fahrenheit</button>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        PRECIPITATION
        <div class="box d-flex flex-row justify-content-between p-1">
            <button style="width: 50%; border: none; border-radius: 10px;">Celsius</button>
            <button style="width: 50%; border: none; border-radius: 10px;">Fahrenheit</button>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        DISTANCE
        <div class="box d-flex flex-row justify-content-between p-1">
            <button style="width: 50%; border: none; border-radius: 10px;">Celsius</button>
            <button style="width: 50%; border: none; border-radius: 10px;">Fahrenheit</button>
        </div>
    </div>
</div>


<div class="card" style="margin-top: -420px; margin-left: 1090px; width: 400px; text-align: center;">
    <div class="card-header">
        Advanced
    </div>
    <div class="card-body">
        <h5 class="card-title">Get new experience</h5>
        <p class="card-text">Ad free <br> Health activities overview <br> Severe weather notification</p>
        <a href="#" class="btn btn-primary">$5.99/month</a>
    </div>
</div>

<div class="card" style="margin-top: 20px; margin-left: 1090px; width: 400px; text-align: center;">
    <div class="card-header">
        Never forget your umbrella 
    </div>
    <div class="card-body">
        <h5 class="card-title">Get new experience</h5>
        <p class="card-text">Ad free <br> Health activities overview <br> Severe weather notification</p>
        <a href="#" class="btn btn-primary">Sign Up</a>
    </div>
</div>

<!-- Section AIR CONDITIONS -->
<div class="container" style="margin-top: -30px; margin-left: 120px; width: 945px;">
    <!--Container 2-->
    <div class="row justify-content-start">
        <h5>Notification</h5>
      <div class="col-md-12 rounded border" style="padding: 20px;">
        <span class="d-flex justify-content-between">
          <span>
            Notification
          <p> Be aware of the weather </p>
          </span>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
          </div>
        </span>
      </div>
    </div>
  </div>