<div class="container rounded border p-3" style="padding-bottom: 30px; margin-left: 120px; width: 945px; height: 500px;">
    <!-- Container version verticale -->
    <div style="margin-bottom: 20px;">
        TEMPERATURE
        <div class="d-flex flex-row justify-content-between rounded border p-1">
            <button style="width: 50%; border: none; border-radius: 8px;">Celsius</button>
            <button style="width: 50%; border: none; border-radius: 8px;">Fahrenheit</button>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        WIND SPEED
        <div class="d-flex flex-row justify-content-between rounded border p-1">
            <button style="width: 33%; border: none; border-radius: 8px;">Celsius</button>
            <button style="width: 33%; border: none; border-radius: 8px;">Fahrenheit</button>
            <button style="width: 33%; border: none; border-radius: 8px;">Fahrenheit</button>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        PRESSURE
        <div class="d-flex flex-row justify-content-between rounded border p-1">
            <button style="width: 25%; border: none; border-radius: 8px;">Celsius</button>
            <button style="width: 25%; border: none; border-radius: 8px;">Fahrenheit</button>
            <button style="width: 25%; border: none; border-radius: 8px;">Celsius</button>
            <button style="width: 25%; border: none; border-radius: 8px;">Fahrenheit</button>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        PRECIPITATION
        <div class="d-flex flex-row justify-content-between rounded border p-1">
            <button style="width: 50%; border: none; border-radius: 8px;">Celsius</button>
            <button style="width: 50%; border: none; border-radius: 8px;">Fahrenheit</button>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        DISTANCE
        <div class="d-flex flex-row justify-content-between rounded border p-1">
            <button style="width: 50%; border: none; border-radius: 8px;">Celsius</button>
            <button style="width: 50%; border: none; border-radius: 8px;">Fahrenheit</button>
        </div>
    </div>
    
        
  </div>